*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #979DA6;

/* Home css */}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0D0D0D;
}

.nav-li {
    background-color: #0D0D0D;
    float: left;
}

li a {
    display: block;
    background-color: #0D0D0D;
    color:#F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #121D40;
}

h1 {
    border-radius: 25px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-shadow: px 4px #373C40; 

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
    color: #F2F2F2;
    background-color: #0D0D0D;
}

.header{
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-shadow: 1px 1px #636A73; 

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
    color: #0D0D0D;
    background-color: #979DA6;
}
.text{
    border: 3px solid #344037 ;
    border-radius: 10px;
    padding: 5px;
    background-color: #979DA6 ;
    color: #0D0D0D;
}

section {
    height: auto;
    padding: 15px; 
    position: relative;
    border: 3px solid #344037;
    border-radius: 10px;
    background-color: #373C40;
    width: auto;
    margin: 10px;
}

#goToTable {
    scroll-behavior: smooth;
}

.info {
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    text-align: center;
    width: 90%;
    border: 3px solid #344037 ;
    border-radius: 15px;
    background-color: #636A73;
    color: #344037;
}

.info-ol {
    background-color: #979DA6 3 ;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    width: 75%;
}

.childForm {
    display: inline-block;
    width: 10%;
    height: 50%;
    background-color: #F2F2F2;
}

.childFormLabel {
    display: inline-block;
    background-color: #979DA6;
    font-weight: bold;

}

.button {
    width: auto;
    justify-content: center;
    background-color: #0D0D0D;
    color:#F2F2F2;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.hidden {
    display:none;
}

.table td, .table th {
    text-align: center;
    border: 1px solid #344037;
    padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    text-align: center;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0D0D0D;
    color: #F2F2F2;
}

.table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}

/* Login css */

.loginLab {
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-shadow: 1px 1px #636A73; 

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
    color: #0D0D0D;
    background-color: #979DA6;
}

.loginTxt {
    border: 3px solid #344037 ;
    border-radius: 10px;
    padding: 5px;
    background-color: #F2F2F2 ;
    color: #0D0D0D;
    text-align: center;
}


.psw {
    background-color: #979DA6 ;
    border-radius: 3px solid #344037;

}

/* Sign-up css */

/* contact-us css */

#travis-pic {
    max-width: 25%;
    height: auto;
    border-radius: 15px;
}

#message{
    display: inline-block;
    max-width: 75%;
    width: 70%;
    height: 200px;
    text-align: center;
    background-color: #F2F2F2;
}

#email {
    display: inline-block;
    width: 25%;
    text-align: center;
}

::placeholder{
    color: grey;
    font-size: small;
    vertical-align: text-top;
}
/* Color Theme*/
/* 
{ color: #636A73; }
{ color: #979DA6; }
{ color: #373C40; }
{ color: #F2F2F2; }
{ color: #0D0D0D; }
*/
