*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #7D8C82;
}

.head {
    padding: 0px;
    width: 100%;
    text-align: center;
    background-color: #732F41;
    margin: 0px;
}

#logo {
    display: flexbox;
    justify-content: left;
    align-items: left;
    position:sticky;
	top:0; 
	left:0; 
}

h1 {
    padding: 0px;
    width: 100%;
    text-align: center;
    background-color: #7D8C82;
    color: #0D0D0D
    margin-bottom: 20px;
}

ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#loginLink {
    display: flexbox;
    justify-content: right;
    align-items: right;
    top: 0;
    right: 0;
    background-color: #732F41;
    align-items: right;
}


.firstHead{
    color: black;
    display: flexbox;
    justify-content: center;
    text-align: center;
    background-color: #732F41
    align-items: center;
    align-content: center;
}


.form-section{
    margin: auto;
    width: 60%;
    border: 5px solid darkgray;
    padding: 10px;
    text-align: center;
}

#budUI {
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}



.hidden {
    display:none;
}
.grid-container {
        display: grid;
        justify-content: center;
        align-items: flex-start;
        grid-template-columns: repeat(4, 1fr);
        /* grid-auto-rows: 200px; */
        align-items: flex-start;
    }

.grid-header {
    background-color: rgba(119, 122, 140, 1);
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0px;
    font-size: 12px;
    text-align: center;
    height: fit-content;
}

#loadRestBtn {
    background-color:#0D0D0D;
    color: #BFA26B;
    font-weight: bold;
    margin: auto;
    width: auto;
    text-align: center;    
    padding: 5px;
    text-decoration: bold;
}

#travisPick {
    background-color: #0D0D0D;
    color: #BFA26B;
    font-weight: bold;
    margin: auto;
    width: auto;
    text-align: center;

    padding: 5px;
    position:absolute; 
    margin-left:-50px;
    left:50%;
    width:100px;
    bottom:10px;
}